@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Circular";
  font-weight: bold;
  src: url("../fonts/CircularStd-Bold.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  src: url("../fonts/CircularStd-Medium.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: 400;
  src: url("../fonts/CircularStd-Book.otf");
}

@font-face {
  font-family: "Circular";
  font-weight: 200;
  src: url("../fonts/CircularStd-Light.otf");
}

*,
::before,
::after {
  box-sizing: border-box;
}

:hover,
:focus {
  outline: none;
}

:root {
  --dark-purple: #1e073c;
  --medium-purple: #290a50;
  --purple: #400073;
  --lighter-purple: #5c13b5;
  --light-purple: #d8a3ff;
  --white-purple: #f2edf5;
  --white: #ffffff;
  --medium-green: #1db954;
  --green: #1ed760;
  --light-green: #cbf55c;
  --light-green2: #bbff32;
  --light-blue: #d7dbff;
  --black: #121212;
  --medium-black: #212121;
  --gray: #535353;
  --light-gray: #b3b3b3;
}

body {
  position: relative;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Circular", "Roboto", sans-serif;
  background-color: var(--dark-purple);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  --col-size: 15em;
  max-width: 1000px;
  min-width: var(--col-size);
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
