.searchForm {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 2em;
  overflow: hidden;
}

.searchInpt {
  flex: 1;
  border: 0;
  background-color: var(--white);
  color: var(--purple);
  padding: 0.6em 1.3em;
  padding-right: 0.5em;
}

.searchInpt::placeholder {
  color: var(--purple);
  opacity: 0.7;
}

.searchInpt:focus::placeholder {
  visibility: hidden;
  opacity: 0;
}

.submitBtn {
  border: none;
  padding: 0 1.2em;
  font-size: 1.2rem;
  color: var(--light-blue);
  background-color: var(--purple);
  position: relative;
  --transition: all 0.2s ease-out;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  -ms-transition: var(--transition);
  transition: var(--transition);
}

.submitBtn > * {
  position: relative;
  z-index: 2;
}

.submitBtn:hover {
  color: var(--light-green);
}

.submitBtn::before {
  visibility: hidden;
  opacity: 0;
  transition: inherit;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.137);
  z-index: 1;
}

.submitBtn:hover::before {
  visibility: visible;
  opacity: 1;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--col-size), 100%), 1fr)
  );
  gap: 2.5em;
}

.info-grid > * {
  position: relative;
  cursor: pointer;
  background-color: var(--purple);
  box-shadow: 0 0.5em 1.5em 0.2em rgba(0, 0, 0, 0.399);
  --transition: transform 0.2s ease-out;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  -ms-transition: var(--transition);
  transition: var(--transition);
  overflow: hidden;
}

.info-grid > *:hover {
  transform: scale(1.06);
  --animation: boxScale 1s 1s ease-out infinite alternate;
  -webkit-animation: var(--animation);
  -moz-animation: var(--animation);
  -o-animation: var(--animation);
  -ms-animation: var(--animation);
  animation: var(--animation);
  box-shadow: 0 0 1em var(--light-purple);
  border-radius: 0.5em;
}

@keyframes boxScale {
  from {
    transform: scale(1.06);
    box-shadow: 0 0 1em var(--light-purple);
  }
  to {
    box-shadow: 0 0 0.5em var(--light-purple);
    transform: scale(1.03);
  }
}

.imgBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox::before {
  font-style: normal;
  display: inline-block;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f04b";
}

.imgBox::before {
  position: absolute;
  font-size: 2rem;
  color: var(--light-green);
  padding: 0.3em 0.7em;
  border-radius: 100%;
  background-color: var(--purple);
  transform: translateY(-1em);
  transition: all 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
}

.info-grid > *:hover .imgBox::before {
  transform: none;
  visibility: visible;
  opacity: 1;
  animation: playHover 1s 1s ease-out infinite alternate;
}

@keyframes playHover {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.track-info {
}

.artist-name,
.track-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.track-name {
  color: var(--light-green);
}

.track-name:hover {
  text-decoration: underline;
}

.artist-name {
  color: var(--white-purple);
}
